In [1]:
# If needed (uncomment the next 2 lines in a clean env):
# %pip install pandas numpy python-dateutil holidays

import pandas as pd
import numpy as np
from datetime import datetime
import holidays

# ---- Config (tweak as needed) ----
COUNTRY = "US"           # "SG" for Singapore, e.g. "US" for United States
CSV_PATH = "Data-GP1.csv"
DATE_FMT = "%m/%d/%y"    # your sample looks like mm/dd/yy

In [2]:
# Read, parse dates, and do light cleanup
df = pd.read_csv(
    CSV_PATH,
    parse_dates=["Dept_Date", "Purchase_Date"],
    date_parser=lambda s: pd.to_datetime(s, format=DATE_FMT, errors="coerce")
)

# Standardize column names (optional, but makes life easier)
df.columns = [c.strip() for c in df.columns]

# Coerce “flag” columns to int/bool where appropriate
flag_cols = ["isNormCabin", "isReturn", "isOneway"]
for c in flag_cols:
    if c in df.columns:
        df[c] = df[c].astype(int)

df.head()

/tmp/ipykernel_1087205/414417218.py:2: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(

,num_seats_total,mean_net_ticket_price,Dept_Date,Purchase_Date,Train_Number_All,Culmulative_sales,isNormCabin,isReturn,isOneway,Customer_Cat
0,1,188.663422,2019-10-09,2018-10-10,A,1,1,0,0,A
1,1,358.428869,2019-05-27,2018-06-06,B,1,0,1,0,A
2,1,356.372684,2020-05-31,2019-06-17,B,1,0,1,0,A
3,1,396.370505,2019-12-10,2018-12-27,C,1,0,1,0,A
4,1,364.264552,2020-05-31,2019-06-19,B,2,0,1,0,A

In [3]:
# Build holiday calendar for the chosen country
try:
    holiday_cal = holidays.country_holidays(COUNTRY)
except Exception as e:
    print(f"Falling back to no-holiday mode due to: {e}")
    holiday_cal = set()

# Helper to test holiday
def is_holiday(d):
    if pd.isna(d):
        return False
    return d in holiday_cal

# Core features:
df["dept_weekday"]     = df["Dept_Date"].dt.day_name()
df["purchase_weekday"] = df["Purchase_Date"].dt.day_name()
df["is_holiday_dept"]  = df["Dept_Date"].apply(is_holiday).astype(int)
df["is_holiday_purchase"] = df["Purchase_Date"].apply(is_holiday).astype(int)
df["lead_time_days"]   = (df["Dept_Date"] - df["Purchase_Date"]).dt.days

# Useful calendar features (often boost tree models)
df["dept_year"]   = df["Dept_Date"].dt.year
df["dept_month"]  = df["Dept_Date"].dt.month
df["dept_day"]    = df["Dept_Date"].dt.day
df["dept_week"]   = df["Dept_Date"].dt.isocalendar().week.astype(int)
df["dept_quarter"]= df["Dept_Date"].dt.quarter

df["purchase_year"]  = df["Purchase_Date"].dt.year
df["purchase_month"] = df["Purchase_Date"].dt.month
df["purchase_week"]  = df["Purchase_Date"].dt.isocalendar().week.astype(int)
df["purchase_quarter"]= df["Purchase_Date"].dt.quarter

# Weekend flags
df["is_weekend_dept"]     = df["Dept_Date"].dt.weekday.isin([5,6]).astype(int)
df["is_weekend_purchase"] = df["Purchase_Date"].dt.weekday.isin([5,6]).astype(int)

df[[
    "Dept_Date","Purchase_Date","dept_weekday","purchase_weekday",
    "is_holiday_dept","is_holiday_purchase","lead_time_days",
    "is_weekend_dept","is_weekend_purchase"
]].head()

,Dept_Date,Purchase_Date,dept_weekday,purchase_weekday,is_holiday_dept,is_holiday_purchase,lead_time_days,is_weekend_dept,is_weekend_purchase
0,2019-10-09,2018-10-10,Wednesday,Wednesday,0,0,364,0,0
1,2019-05-27,2018-06-06,Monday,Wednesday,1,0,355,0,0
2,2020-05-31,2019-06-17,Sunday,Monday,0,0,349,1,0
3,2019-12-10,2018-12-27,Tuesday,Thursday,0,0,348,0,0
4,2020-05-31,2019-06-19,Sunday,Wednesday,0,0,347,1,0

In [4]:
# Price-related transforms
df["log_price"] = np.log1p(df["mean_net_ticket_price"])

# Interaction features
df["return_x_norm"]   = df["isReturn"] * df["isNormCabin"]
df["oneway_x_norm"]   = df["isOneway"] * df["isNormCabin"]
df["return_x_weekend"]= df["isReturn"] * df["is_weekend_dept"]
df["oneway_x_weekend"]= df["isOneway"] * df["is_weekend_dept"]

# Demand proxy features
# (Culmulative_sales appears to be a running count per Train_Number_All; we can create rank/order and recent growth signals)
if {"Train_Number_All","Culmulative_sales"}.issubset(df.columns):
    df = df.sort_values(["Train_Number_All", "Dept_Date", "Purchase_Date"])
    df["route_sales_rank"] = df.groupby("Train_Number_All")["Culmulative_sales"].rank(method="first").astype(int)
    # A naive short-window diff (by train) as a "recent growth" proxy
    df["sales_diff_1"] = df.groupby("Train_Number_All")["Culmulative_sales"].diff(1).fillna(0)

# Seasonality buckets
def season_from_month(m):
    # Simple Northern-hemisphere style seasons; tweak if you want SG wet/dry seasons instead
    if m in (12,1,2): return "Winter"
    if m in (3,4,5):  return "Spring"
    if m in (6,7,8):  return "Summer"
    return "Autumn"

df["dept_season"] = df["dept_month"].apply(season_from_month)

# Relative price within (route, month) — helps normalize price levels across routes
df["route_month_mean_price"] = df.groupby(["Train_Number_All","dept_year","dept_month"])["mean_net_ticket_price"].transform("mean")
df["price_to_route_month_mean"] = df["mean_net_ticket_price"] / df["route_month_mean_price"]

df.head()

,num_seats_total,mean_net_ticket_price,Dept_Date,Purchase_Date,Train_Number_All,Culmulative_sales,isNormCabin,isReturn,isOneway,Customer_Cat,...,log_price,return_x_norm,oneway_x_norm,return_x_weekend,oneway_x_weekend,route_sales_rank,sales_diff_1,dept_season,route_month_mean_price,price_to_route_month_mean
47196,1,418.084961,2018-06-01,2018-06-01,A,1,0,0,0,A,...,6.038074,0,0,0,0,1,0.0,Summer,399.808336,1.045713
207766,1,464.041601,2018-06-02,2018-06-01,A,1,0,0,0,B,...,6.142127,0,0,0,0,2,0.0,Summer,399.808336,1.160660
44629,4,561.181241,2018-06-03,2018-06-01,A,4,0,0,0,A,...,6.331824,0,0,0,0,4632,3.0,Summer,399.808336,1.403626
46277,1,633.715657,2018-06-03,2018-06-02,A,5,0,0,0,A,...,6.453177,0,0,0,0,5509,1.0,Summer,399.808336,1.585049
208931,2,763.550821,2018-06-03,2018-06-03,A,2,0,0,1,B,...,6.639288,0,0,0,1,2134,-3.0,Summer,399.808336,1.909792

In [5]:
# import pandas as pd
# import numpy as np

# COUNTRY_CODE_OWID = "USA"
# owid_url = "https://raw.githubusercontent.com/owid/covid-19-data/refs/heads/master/public/data/owid-covid-data.csv"

# # 1) Read & subset the columns you'll use
# covid_ts = pd.read_csv(owid_url, parse_dates=["date"])
# usa = (covid_ts.loc[covid_ts["iso_code"] == COUNTRY_CODE_OWID, [
#     "date",
#     "total_cases",
#     "total_deaths",
#     "stringency_index",
#     "population",
#     "population_density",
#     "median_age",
#     "gdp_per_capita",
#     "hospital_beds_per_thousand",
# ]].sort_values("date").reset_index(drop=True))

# # 2) Ensure your DF dates are datetime (drop time part)
# df["Purchase_Date"] = pd.to_datetime(df["Purchase_Date"], errors="coerce").dt.normalize()
# df["Dept_Date"]     = pd.to_datetime(df["Dept_Date"], errors="coerce").dt.normalize()
# usa["date"]         = usa["date"].dt.normalize()

# # 3) We'll use merge_asof to map the **most recent available** OWID value
# #    on/before the Purchase/Dept date (handles missing exact dates).
# usa_for_merge = usa.rename(columns={"date": "Date"})

# # Helper to merge per date with suffix and keep only your requested fields
# def merge_owid_on_date(base_df, date_col, suffix):
#     merged = pd.merge_asof(
#         base_df.sort_values(date_col),
#         usa_for_merge.sort_values("Date"),
#         left_on=date_col, right_on="Date",
#         direction="backward"
#     )
#     # Rename to prefixed fields
#     rename_map = {
#         "Date": f"owid_{suffix}_date",
#         "total_cases": f"owid_{suffix}_total_cases",
#         "total_deaths": f"owid_{suffix}_total_deaths",
#         "stringency_index": f"owid_{suffix}_stringency_index",
#         "population": f"owid_{suffix}_population",
#         "population_density": f"owid_{suffix}_population_density",
#         "median_age": f"owid_{suffix}_median_age",
#         "gdp_per_capita": f"owid_{suffix}_gdp_per_capita",
#         "hospital_beds_per_thousand": f"owid_{suffix}_hospital_beds_per_thousand",
#     }
#     merged = merged.rename(columns=rename_map)
#     return merged

# # 4) Merge for purchase and departure
# df = merge_owid_on_date(df, "Purchase_Date", "purchase")
# df = merge_owid_on_date(df, "Dept_Date", "depart")

# # 5) OPTIONAL: if you still want a single snapshot attached (latest available),
# #    keep it as separate metadata, not repeated columns:
# latest_row = usa.iloc[-1]
# owid_latest_meta = {
#     "owid_latest_last_updated_date": latest_row["date"].date().isoformat(),
#     "owid_latest_total_cases": latest_row["total_cases"],
#     "owid_latest_total_deaths": latest_row["total_deaths"],
#     "owid_latest_stringency_index": latest_row["stringency_index"],
#     "owid_latest_population": latest_row["population"],
#     "owid_latest_population_density": latest_row["population_density"],
#     "owid_latest_median_age": latest_row["median_age"],
#     "owid_latest_gdp_per_capita": latest_row["gdp_per_capita"],
#     "owid_latest_hospital_beds_per_thousand": latest_row["hospital_beds_per_thousand"],
# }
# # You can store this dict for reporting, or if you insist on columns, assign once:
# # for k, v in owid_latest_meta.items(): df[k] = v

# # Quick peek at the date-aligned columns:
# df[[
#     "Purchase_Date","Dept_Date",
#     "owid_purchase_date",
#     "owid_purchase_total_cases","owid_purchase_total_deaths","owid_purchase_stringency_index",
#     "owid_depart_date",
#     "owid_depart_total_cases","owid_depart_total_deaths","owid_depart_stringency_index"
# ]].head()

In [ ]:
OUT_PATH = "Data-GP1_with_features.csv"
df.to_csv(OUT_PATH, index=False)
print(f"Saved: {OUT_PATH}\nRows: {len(df)} | Columns: {df.shape[1]}")
# When building covid_country from OWID timeseries, include new_deaths in the column list:
# covid_country = covid_ts.loc[covid_ts["iso_code"] == COUNTRY_CODE_OWID, [
#     "date", "total_cases", "new_cases", "new_cases_smoothed",
#     "total_deaths", "new_deaths", "stringency_index", "hosp_patients", "icu_patients"
# ]].rename(columns={"date": "Date"}).sort_values("Date")

Saved: Data-GP1_with_features.csv
Rows: 209697 | Columns: 36

NameError: name 'covid_ts' is not defined